<div class="col-xs-3"></div>
<%= form_tag search_results_path, {:class => 'form-horizontal', 'role' => 'form'} do %>
    <div class="form-group">
      <%= label_tag 'keywords', 'Search', :class => 'col-xs-1 control-label' %>
      <div class="col-xs-5">
        <%= text_field_tag 'keywords', nil, {:class => 'form-control', :placeholder => 'Search'} %>
      </div>
      <div class="col-xs-2">
        <%= select_tag 'category', options_from_collection_for_select(Category.all, :id, :name), {:class => 'form-control', :prompt => 'All'} %>
      </div>
      <%= button_tag 'Search', :class => 'btn btn-primary' %>
    </div>
<% end %>